{% extends 'hospital/homebase.html' %}
{% block content %}

<br>
<br>
<style>
  .jumbotron{
    height: 100vh;
}
</style>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">سلام, مدیر</h1>
  <p class="lead">به سیستم یکپارچه مدیریت کلینیک خوش آمدید</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">ثبت</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">ورود</a>
  </p>
</div>

{% endblock content %}
