{% extends 'hospital/admin_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    .menu {
      top: 50px;
    }
  </style>
</head>
<br></br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">پزشک ها</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>نام</th>
          <th>عکس</th>
          <th>شماره تماس</th>
          <th>آدرس</th>
          <th>بخش</th>
          <th>آپدیت</th>
          <th>حذف</th>
        </tr>
      </thead>
      {% for d in doctors %}
      <tr>

        <td> {{d.get_name}}</td>
        <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{d.mobile}}</td>
        <td>{{d.address}}</td>
        <td>{{d.department}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
