
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>menu</label>
					</li>
					<li class="nav-item">
                        <a target="_blank" rel="noopener" 
                           href="{%url 'accounts:usri'%}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">user informatin</span></a>
					</li>
					<li class="nav-item">
					    <a href="{% url 'accounts:dashboard' %}" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">home</span></a>
					</li>
					{% comment %} در این قسمت ئس از طراحی ویو ادرس ئنل کابری را وارد گنید  {% endcomment %}
					<li class="nav-item pcoded-hasmenu">

					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">user area </span></a>
					    <ul class="pcoded-submenu">
							{% comment %} در این قسمت ئس از طراحی ویو ادرس ئنل کابری را وارد گنید {% endcomment %}

							<li><a href="{% url 'accounts:dashboard' %}" target="_blank">user data </a></li>

							<li><a href="{% url 'accounts:coordinate' %}" target="_blank" id="coordinate">coordinate </a></li>

					        <li><a href="{% url 'accounts:change password' %}" target="_blank">Change Password</a></li>

					        <li><a href="{% url 'accounts:modify' %}" target="_blank">Edit Profile</a></li>

							<li><a href="{% url 'accounts:rezerv_list' %}" target="_blank">Reserve Appointment </a></li>

							<li><a href="{% url 'accounts:signup' %}" target="_blank">Sign up doctor/clerck </a></li>

						</ul>
					</li>
										<li class="nav-item pcoded-menu-caption">
						<label>Pages</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">user panel</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html" target="_blank">free time & reserve</a></li>
					        <li><a href="/auth-signin.html" target="_blank">hospital </a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">sing out </span></a></li>

				</ul>
				
			
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
	<script>
		$(document).ready(function(){
			var user_type = {{ user_type|safe }}
			alert(user_type);
			if($(user_type="doctor")
				$('#coordinate').show();
			else
				$('#coordinate').hide();
		});
	</script>



