{% extends "layouts/base.html" %}

{% block title %}{{user_type}} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% block sign %}
<h2 class="field"></h2>
  <form class="site-form form-group" action="" method="post">
      <h6   class="text-muted display-7" style="text-align:left;" > {{first_name}}: Please set your password</h6>
    {% csrf_token %}
      {% for field in form %}
      <p class="field">
        {{ field.label_tag }}<br>
        {{ field }}
        <div class="help-text">
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary " type="submit">Set Password</button>
  </form>
{% endblock %}