{% extends 'base_layout.html' %}
{% load static  %}

{% block content %}
<section class="container-fluid bg">
    <img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
        <div class="img">
            <img src="{% static 'img/bg.svg' %}">
        </div>
        <section class="login-content">
            <section class="container-fluid bg">
                <section class="row justify-content-center ">
                    <section class="col-12 col-sm-6 col-md-3 form-container">
                        <ul class=" nav nav-tabs {% if request.session.subject not in 'LoginSignup' %} d-none {% endif %}">
                            <li class="nav-item">
                                <a class="nav-link {% if request.session.subject == 'Login' %} active {% endif %}"
                                   href="{% url 'accounts:login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.session.subject == 'Signup' %} active {% endif %}"
                                   href="{% url 'accounts:signup' %}">Signup</a>
                            </li>
                        </ul>
                        {% block sign %}
                        {% endblock %}
                    </section>
                </section>
            </section>
        </section>
    </div>
</section>
<script type="text/javascript" src=" {% static 'js/main.js' %}"></script>

{% endblock %}