{% extends 'base_layout.html' %}
{% load static  %}

{% block content %}
<section class="container-fluid bg">
                <section class="row justify-content-center ">
                    <section class="col-12 col-sm-6 col-md-3 header">
                        <div class="{% if request.path == 'accounts:login' %} btn-outline-info {% endif %}">
                            <input class="btn-outline-info login" type="button" onclick="location.href='/accounts/login/';" value="Login" />
                            <input class="btn-outline-info login"  type="button" onclick="location.href='/accounts/signup/';" value="SignUp" />
                        </div>

                    </section>
                </section>
            </section>
    <img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">
            <section class="container-fluid bg">
                <section class="row justify-content-center ">
                    <section class="col-12 col-sm-6 col-md-3 form-container">
                        {% block sign %}
                        {% endblock %}
                    </section>
                </section>
            </section>

        </div>
    </div>
    <script type="text/javascript" src=" {% static 'js/main.js' %}"></script>

{% endblock %}