<{% extends "layouts/base.html" %}

{% block title %} {{user_type}} | Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ auth-signup ] start -->
<div class="pcoded-main-container ">
    <div class="pcoded-content ">
        <div class="row align-items-center text-center justify-content-center">
            <div class="col-sm-4 ">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="mb-3 f-w-400">Edit Profile</h4>

                        <form method="post">
                            {% csrf_token %}
                            <p style="color: red">{{ error_massage }}</p>
                            {% for field in form %}
                            <p class="field">
                                {{ field.label_tag }}<br>
                                {{ field }}
                            <div class="help-text">
                                {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                            </div>

                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                            {% endfor %}
                            <hr>
                            <button class="btn btn-primary btn-block mb-4" type="submit"
                                    value="{{user_type}}">Submit Changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- [ auth-signup ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
>