<{% extends "layouts/base.html" %}

{% block title %} {{user_type}} | Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
  
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-3">
                    <div class="card bg-c-blue order-card">
                    
                        <div class="card-body">
                        </h2 class="text-white"> user information</h2>
                        <hr>
                        {% if user.phone %}
                            <h6 class="text-white"> phone : {{user.phone}}</h6>
                        {% else %} 
                        <h6 class="text-white"> phone : there is nothing to show </h6> 
                        {% endif %}

                        {% if user.email %}<hr>
                            <h6 class="text-white">Email : {{user.email}}</h6>
                        {% else %} 
                        <h6 class="text-white">Email : there is nothing to show </h6> 
                        {% endif %}
                        
                        {% if user.msn %}<hr>
                             <h6 class="text-white"> msn : {{user.msn}}</h6>
                        {% endif %}      
                        <hr>
                        <h6 class="text-white"> hospital : {{user.hospital_id}}</h6>
                            <hr>
                        <h6 class="text-white"> natural code : {{user.natural_code}}</h6><hr>
                        


                        </div>
                    </div>
                             

                  
                        </div>
                    </div>
                </div>
                <!-- Customer overview end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
>